<div class="container">
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center">Pago créditos proveedor</h1>
    </div>
  </div>
  <app-payment-search-provider (searchObj)="searchInvoices($event)" [searchError]="searchError"
                               [clean]="doClean"></app-payment-search-provider>
  <div class="row justify-content-center" *ngIf="invoices.length>0">
    <h4 class="title my-2">Créditos por pagar</h4>
    <div class="col-12 my-3 row justify-content-center">
      <!--<mat-form-field appearance="outline" class="col-12 col-md-5">
        <mat-label>Filtro por Proveedor</mat-label>
        <input type="text" placeholder="Filtra según las letras ingresadas" matInput name="filter"
               (keyup)="applyFilter($event)" #input>
      </mat-form-field>-->


      <mat-form-field appearance="outline" class="col-12 col-md-5">
        <mat-label>Filtro por fecha de vencimiento crédito</mat-label>
        <mat-date-range-input [rangePicker]="picker"  (change)="applyFilter($event)">
          <input matStartDate placeholder="Fecha inicial">
          <input matEndDate placeholder="Fecha final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <p class="table-description">Se muestran {{invoices.length}} de un total de {{invoices.length}} facturas</p>
      <div class="row no-gutters justify-content-between">
        <div class="col-8 col-sm-9 col-md-10">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class=" table table-striped">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef
                    class="text-center">
                  <mat-checkbox (change)="$event ? masterToggle() : null" class="px-2"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                  <span>Seleccionar<br>todos</span>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- company Column -->
              <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <b>Empresa</b>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.company}} </td>
              </ng-container>

              <!-- client-provider Column -->
              <ng-container matColumnDef="client_provider">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <b>Cliente proveedor</b>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.client_provider}} </td>
              </ng-container>

              <!-- invoice_number Column -->
              <ng-container matColumnDef="invoice_number">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número factura</b></th>
                <td mat-cell *matCellDef="let element"> {{element.invoice_number }} </td>
              </ng-container>

              <!-- operation_number Column -->
              <ng-container matColumnDef="operation_number">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número operación</b></th>
                <td mat-cell *matCellDef="let element"> {{element.operation_number}} </td>
              </ng-container>

              <!-- concession_date Column -->
              <ng-container matColumnDef="concession_date">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <b>Fecha concesión</b>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.concession_date}} </td>
              </ng-container>

              <!-- effective_date Column -->
              <ng-container matColumnDef="default_days">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                  <b class="sort-header">Días de mora</b>
                  <mat-icon class="sort-icon">{{icon}}</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.default_days}} </td>
              </ng-container>

              <!-- expiration_date Column -->
              <ng-container matColumnDef="expiration_date">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha vencimiento crédito</b></th>
                <td mat-cell *matCellDef="let element"> {{element.expiration_date}} </td>
              </ng-container>

              <!-- invoice_value Column -->
              <ng-container matColumnDef="invoice_value">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>Monto factura</b></th>
                <td mat-cell *matCellDef="let element"> $ {{element.invoice_value | currency:'':'':'1.2-2':'es'}} </td>
              </ng-container>

              <!-- balance Column -->
              <ng-container matColumnDef="balance">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>Saldo crédito</b></th>
                <td mat-cell *matCellDef="let element"> $ {{element.balance | currency:'':'':'1.2-2':'es'}} </td>
              </ng-container>

              <!-- firstHeadersRow -->
              <tr mat-header-row *matHeaderRowDef="headers"></tr>
              <tr mat-row *matRowDef="let row; columns: headers;"></tr>
            </table>
          </div>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <div class="table-responsive ml-2">
            <table mat-table [dataSource]="dataSource" matSort class=" table table-striped">
              <!-- payment Column -->
              <ng-container matColumnDef="payment">
                <th id="custom-header" mat-header-cell *matHeaderCellDef class="text-center "><b>Valor a pagar</b></th>
                <td mat-cell *matCellDef="let element">
                  <input type="text" placeholder="Valor a pagar" style="display: inline-block;"
                         matInput name="payment" class="inside-form"
                         [(ngModel)]="element.payment">
                </td>
              </ng-container>
              <!-- firstHeadersRow -->
              <tr mat-header-row *matHeaderRowDef="headersTotal"></tr>
              <tr mat-row *matRowDef="let row; columns: headersTotal;"></tr>
            </table>
          </div>
        </div>

      </div>

      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="extraHeaders">
        <h3 class="my-2 mt-4"><b>Agregar columnas:</b></h3>
        <div class="row justify-content-center">
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="company" [(ngModel)]="company"
                          (ngModelChange)="updateTable()">
              EMPRESA
            </mat-checkbox>
          </p>
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="client_provider" [(ngModel)]="client_provider" (ngModelChange)="updateTable()">
              CLIENTE PROVEEDOR
            </mat-checkbox>
          </p>
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="concession_date" [(ngModel)]="concession_date"
                          (ngModelChange)="updateTable()">
              FECHA CONCESIÓN
            </mat-checkbox>
          </p>

        </div>
      </section>
      <h4 class="title my-4">Detalle para el pago de créditos</h4>
      <div class="col-12 row ">
        <div class="col-sm-4 col-12">
          <div class="row mx-auto">
            <mat-label class=" col-12 mx-auto labels text-left my-2">Número de cuenta empresa</mat-label>
          </div>
        </div>
        <div class="col-sm-5 col-12">
          <div class="row mx-auto">
            <mat-form-field appearance="outline" class="col-12 mx-auto">
              <mat-select [(ngModel)]="account" name="account">
                <mat-option [value]="''">Seleccione una cuenta</mat-option>
                <mat-option *ngFor="let account of accounts" [value]="account">
                  {{account}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 row ">
        <div class="col-sm-4 col-12">
          <div class="row mx-auto">
            <mat-label class=" col-12 mx-auto labels text-left my-2">Saldo disponible cuenta empresa</mat-label>
          </div>

        </div>
        <div class="col-sm-5 col-12">
          <div class="row mx-auto">
            <mat-form-field appearance="outline" class="col-12 mx-auto">
              <input matInput type="number" placeholder="Saldo disponible" name="account_balance" id="account_balance"
                     [(ngModel)]="accountBalance">
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-3 col-12">
          <button class="btn secondaryBtn mt-2" id="calculate" [disabled]="selection.isEmpty()" (click)="calculate()">
            Calcular
          </button>
        </div>
      </div>
      <div class="col-12 row ">
        <div class="col-sm-4 col-12">
          <div class="row mx-auto">
            <mat-label class=" col-12 mx-auto labels text-left my-2">Total valor a pagar</mat-label>
          </div>
        </div>
        <div class="col-sm-5 col-12">
          <div class="row mx-auto">
            <mat-form-field appearance="outline" class="col-12 mx-auto">
              <input matInput type="number" placeholder="Total valor a pagar" name="total" id="total"
                     [(ngModel)]="total">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-12 row ">
        <div class="col-sm-4 col-12">
          <div class="row mx-auto">
            <mat-label class=" col-12 mx-auto labels text-left my-2">Notificación por email</mat-label>
          </div>
        </div>
        <div class="col-sm-5 col-12">
          <div class="row mx-auto">
            <mat-form-field appearance="outline" class="col-12 mx-auto">
              <input matInput type="email" placeholder="Notificación por email" name="email" id="email"
                     [(ngModel)]="email">
            </mat-form-field>
          </div>
        </div>
      </div>


      <div class="row justify-content-left justify-content-sm-end  mx-auto">
        <div class="col-0 col-sm-6"></div>
        <div class=" col-12  my-3 col-sm-3 text-center">
          <button class="btn  primaryBtn" id="save" [disabled]="selection.isEmpty() || !canPay" (click)="openModal()">
            Pagar
          </button>
        </div>

        <div class=" col-12 my-3 col-sm-3 text-center">
          <button class="btn  secondaryBtn" id="clean" (click)="clean(true)">Limpiar</button>
        </div>
      </div>
    </div>
  </div>
</div>

