<div class="container">
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center"> Aprobar facturas proveedor</h1>
    </div>
  </div>
  <app-search-invoices (searchObj)="searchInvoices($event)" [searchError]="searchError"
                       [clean]="doClean"></app-search-invoices>
  <div class="row justify-content-left justify-content-sm-end mx-auto" *ngIf="invoices.length>0">
    <div class="col-12 col-sm-11">
      <h4 class="title mt-4">Facturas por aprobar</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor img-fluid excel-image"
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="invoices.length>0">
    <div class="col-12 my-3">
      <p class="table-description">Se muestran {{invoices.length}} de un total de {{invoices.length}} facturas</p>
      <div class="table-responsive">
        <table mat-table [dataSource]="invoices" class=" table table-striped">
          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef
                class="text-center">
              <mat-checkbox (change)="$event ? masterToggle() : null" class="px-2"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
              <span>Seleccionar<br>todos</span>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <!-- company Column -->
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              <b>Empresa</b>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
          </ng-container>

          <!-- identification Column -->
          <ng-container matColumnDef="identification">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Identificación</b></th>
            <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
          </ng-container>

          <!-- client-provider Column -->
          <ng-container matColumnDef="client_provider">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Cliente proveedor</b></th>
            <td mat-cell *matCellDef="let element"> {{element.client_provider}} </td>
          </ng-container>

          <!-- invoice_number Column -->
          <ng-container matColumnDef="invoice_number">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Número factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.invoice_number}} </td>
          </ng-container>

          <!-- invoice_value Column -->
          <ng-container matColumnDef="invoice_value">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Monto factura</b></th>
            <td mat-cell *matCellDef="let element"> $ {{element.invoice_value | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- observations Column -->
          <ng-container matColumnDef="observations">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Observaciones</b></th>
            <td mat-cell *matCellDef="let element">
              <input type="text" placeholder="Observaciones" matInput name="observations"
                     [(ngModel)]="element.observations" class="inside-form">
            </td>
          </ng-container>

          <!-- start_date Column -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha ingreso factura</b></th>
            <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
          </ng-container>

          <!-- effective_date Column -->
          <ng-container matColumnDef="effective_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha efectivización</b></th>
            <td mat-cell *matCellDef="let element"> {{element.effective_date}} </td>

          </ng-container>

          <!-- expiration_date Column -->
          <ng-container matColumnDef="expiration_date">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Fecha vencimiento</b></th>
            <td mat-cell *matCellDef="let element"> {{element.expiration_date}} </td>
          </ng-container>

          <!-- expiration_date Column -->
          <ng-container matColumnDef="interest">
            <th mat-header-cell *matHeaderCellDef class="text-center"><b>Tasa interés crédito</b></th>
            <td mat-cell *matCellDef="let element"> {{element.interest | currency:'':'':'1.2-2':'es'}} </td>
          </ng-container>

          <!-- firstHeadersRow -->
          <tr mat-header-row *matHeaderRowDef="headers"></tr>
          <tr mat-row *matRowDef="let row; columns: headers;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 300]"
                     showFirstLastButtons
                     aria-label="Seleccione la pagina">
      </mat-paginator>
      <section class="example-section" [formGroup]="extraHeaders">
        <h4 class="my-2"><b>Agregar columnas:</b></h4>
        <div class="row justify-content-center">
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="effective_date" [(ngModel)]="effectiveDate" (ngModelChange)="updateTable()">
              FECHA EFECTIVIZACIÓN
            </mat-checkbox>
          </p>
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="expiration_date" [(ngModel)]="expirationDate"
                          (ngModelChange)="updateTable()">
              FECHA VENCIMIENTO
            </mat-checkbox>
          </p>
          <p class="col-sm-4 col-12 text-center">
            <mat-checkbox formControlName="interest" [(ngModel)]="interest" (ngModelChange)="updateTable()">TASA INTERÉS
              CRÉDITO
            </mat-checkbox>
          </p>
        </div>
      </section>

      <div class="row justify-content-left justify-content-sm-end  mx-auto">
        <div class="col-0 col-sm-3"></div>
        <div class=" col-12  my-3 col-sm-3 text-center">
          <button class="btn  primaryBtn" id="save" *ngIf="!selection.isEmpty()" (click)="openModal('success')">
            Aprobar
          </button>
        </div>
        <div class=" col-12  my-3 col-sm-3 text-center">
          <button class="btn  primaryBtn" id="reject" *ngIf="!selection.isEmpty()" (click)="openModal('error')">
            Rechazar
          </button>
        </div>
        <div class=" col-12 my-3 col-sm-3 text-center">
          <button class="btn  secondaryBtn" id="clean" (click)="clean(true)">Limpiar</button>
        </div>
      </div>
    </div>
  </div>
</div>
