<div class="container">
  <div class="row mt-sm-5 mt-3">
    <div class="col-12 col-sm-6 mx-auto">
      <h1 class="title text-center">Formato carga facturas proveedor</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <p class="labels mt-3">Instructivo carga masiva proveedor</p>
    </div>
  </div>

  <div class="row justify-content-start  mx-auto">
    <div class="col-12 col-sm-6 my-0">
      <!--number-->
      <!-- <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Subir instructivo</mat-label>
      </div> -->
      <div class="row mx-auto mt-4">
        <mat-form-field appearance="outline" id="file_input_first">
          <mat-label>Instructivo PDF</mat-label>
          <ngx-mat-file-input #pdfInput placeholder="Instructivo PDF"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!pdfInput.empty" (click)="pdfInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 my-0 my-md-3 col-sm-2 mt-md-4 text-center">
      <button class="btn secondaryBtn my-0 my-md-2" (click)="pdfInput.open()">Examinar</button>
    </div>
    <div class="col-12 my-0 my-3 col-sm-2 mt-md-4 text-center">
      <button class="btn primaryBtn my-0 my-md-2" (click)="uploadPDF()" >Actualizar</button>
    </div>
    <div class="col-12 my-0 my-3 col-sm-2 mt-md-4 text-center">
      <button class="btn primaryBtn my-0 my-md-2" (click)="downloadPDF()">Descargar</button>
    </div>
  </div>
  <div class="bg py-4 px-5" *ngIf="uploadingFirst">
    <div class="row justify-content-center mx-auto ">
      <div class="col-12 col-md-10 mx-auto my-3 mt-4">
        <mat-progress-bar *ngIf="percentageFirst>0" mode="determinate" [value]="percentageFirst"></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-center mx-auto">
      <div class=" col-12 col-md-10 my-3 text-center">
        <button class="btn  secondaryBtn" (click)="uploadingFirst = false; percentageFirst = 0;">Cancelar</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <p class="labels mt-2">Archivo carga masiva proveedor</p>
    </div>

  </div>

  <div class="row justify-content-start  mx-auto">
    <div class="col-12 col-sm-6 my-0 ">
      <!--number-->
      <!-- <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Subir archivo</mat-label>
      </div> -->
      <div class="row mx-auto mt-4">
        <mat-form-field appearance="outline" id="file_input_second">
          <mat-label>Archivo cvs/txt</mat-label>
          <ngx-mat-file-input #fileInput placeholder="Archivo"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!fileInput.empty" (click)="fileInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 my-0 my-md-3 col-sm-2 mt-md-4 text-center">
      <button class="btn secondaryBtn my-0 my-md-2" (click)="fileInput.open()">Examinar</button>
    </div>
    <div class="col-12 my-0 my-3 col-sm-2 mt-md-4 text-center">
      <button class="btn primaryBtn my-0 my-md-2" (click)="uploadFile()">Actualizar</button>
    </div>
    <div class="col-12 my-0 my-3 col-sm-2 mt-md-4 text-center">
      <button class="btn primaryBtn my-0 my-md-2" (click)="downloadFile()">Descargar</button>
    </div>
  </div>
  <div class="bg py-4 px-5" *ngIf="uploadingSecond">
    <div class="row justify-content-center mx-auto ">
      <div class="col-12 col-md-10 mx-auto my-3 mt-4">
        <mat-progress-bar *ngIf="percentageSecond>0" mode="determinate" [value]="percentageSecond"></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-center mx-auto">
      <div class=" col-12 col-md-10 my-3 text-center">
        <button class="btn  secondaryBtn" (click)="uploadingSecond = false; percentageSecond = 0;">Cancelar</button>
      </div>
    </div>
  </div>
  <hr>


</div>

