<div class="container my-4">
  <div class="row">
    <div class="btn col-2 text-left" (click)="clean()">
      <mat-icon class="arrowIcon">arrow_back</mat-icon>
    </div>
    <div class="col-9 text-left">
      <h4 class="title">Datos de factura</h4>
    </div>
  </div>
  <div class="row justify-content-left justify-content-sm-end my-4 mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12 col-sm-3 text-center">
      <b class="mb-3 cursor">Instructivo PDF</b>
      <mat-icon class="mx-3">download</mat-icon>
    </div>
    <div class=" col-12 col-sm-3 text-center">
      <b class="mb-3 cursor">Descargar cvs-txt</b>
      <mat-icon class="mx-3">download</mat-icon>
    </div>
  </div>
  <div class="row mx-auto">

    <div class="col-12 col-sm-4 mr-auto">
      <!--type-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Tipo de documento</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="FACTURA" disabled name="type" id="type"
                 [(ngModel)]="invoice.type">
        </mat-form-field>
      </div>
      <!--empresa-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="company" id="company"
                      [(ngModel)]="invoice.company"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="Empresa Activa 1">Empresa Activa 1</mat-option>
            <mat-option value="Empresa Activa 2">Empresa Activa 2</mat-option>
            <mat-option value="Empresa Activa 3">Empresa Activa 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



    </div>
    <div class="col-12 col-sm-4 mx-auto">
      <!--Regional empresa-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Regional empresa</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="regional" id="regional"
                      [(ngModel)]="invoice.regional"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="Regional Activa">Regional Activa</mat-option>
            <mat-option value="Regional 2">Regional 2</mat-option>
            <mat-option value="Regional 3">Regional 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--request-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Solicita</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <mat-select name="request" id="request"
                      [(ngModel)]="invoice.request"
                      [ngModelOptions]="{standalone: true}">
            <mat-option value="">Elija una opción</mat-option>
            <mat-option value="EMPRESA">EMPRESA</mat-option>
            <mat-option value="PROVEEDOR">PROVEEDOR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-12 col-sm-8 my-0 my-md-3 ">
      <!--number-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Subir archivo</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline" id="file_input">
          <mat-label>Archivo cvs/txt</mat-label>
          <ngx-mat-file-input #removableInput placeholder="Archivo"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 my-0 my-md-3 col-sm-2 mt-md-5 text-center">
      <button class="btn secondaryBtn my-0 my-md-2" (click)="removableInput.open()">Examinar</button>
    </div>
    <div class="col-12 my-0 my-3 col-sm-2 mt-md-5 text-center">
      <button class="btn secondaryBtn my-0 my-md-2" (click)="upload()">Cargar archivo</button>
    </div>
  </div>
  <div class="bg py-4 px-5" *ngIf="uploading">
    <div class="row justify-content-center mx-auto ">
      <div class="col-12 col-md-10 mx-auto my-3 mt-4">
        <mat-progress-bar *ngIf="percentage>0" mode="determinate" [value]="percentage"></mat-progress-bar>
      </div>
    </div>
    <div class="row justify-content-center mx-auto">
      <div class=" col-12 col-md-10 my-3 text-center">
        <button class="btn  secondaryBtn" (click)="uploading = false; percentage = 0;">Cancelar</button>
      </div>
    </div>
  </div>
  <!--spacer-->
  <hr class="col-12 mx-auto my-2 ">
  <div class="row mx-auto">
    <div class="col-12 col-sm-4 mr-auto">
      <!--available_space-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Cupo disponible</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Cupo disponible" disabled name="available_space" id="available_space"
                 [(ngModel)]="availableSpace ">
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-4 mx-auto">
      <!--total_invoice-->
      <div class="row mx-auto">
        <mat-label class="labels text-left my-2">Total facturas cargadas</mat-label>
      </div>
      <div class="row mx-auto">
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Total facturas cargadas" disabled name="total_invoice"
                 id="total_invoice"
                 [(ngModel)]="totalInvoice ">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="alert my-3 alert-success col-11 col-sm-4 mx-auto text-center" role="alert">
      Cupo disponible
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="alert my-3 alert-danger col-11 col-sm-4 mx-auto text-center" role="alert">
      Cupo no disponible
    </div>
  </div>

  <!--spacer-->
  <hr class="col-12 mx-auto my-2 ">

  <div class="row justify-content-left justify-content-sm-end mt-4 mx-auto">
    <div class="col-12 col-sm-11">
      <h4 class="title my-3">Listado de facturas</h4>
    </div>
    <div class=" col-12 col-sm-1 text-center">
      <img src="../assets/img/excel.png" class="cursor excel-image img-fluid "
           alt="Excel">
      <p class="underline text-center cursor">Descargar</p>
    </div>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="invoices" class="my-3 table table-striped">


      <!-- authorization_number Column -->
      <ng-container matColumnDef="authorization">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>No. autorizaci&oacute;n</b>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.authorization}}
        </td>
      </ng-container>
      <!-- number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>No. factura</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>
      <!-- payment_date Column -->
      <ng-container matColumnDef="payment_date">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Fecha pago</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.payment_date | date }} </td>
      </ng-container>
      <!-- value Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Monto factura</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.value | currency:'':'':'1.2-2':'es' }} </td>
      </ng-container>
      <!-- identification Column -->
      <ng-container matColumnDef="identification">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Identificaci&oacute;n</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
      </ng-container>
      <!-- identification_type Column -->
      <ng-container matColumnDef="identification_type">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Tipo de identificaci&oacute;n</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.identification_type}} </td>
      </ng-container>
      <!-- provider Column -->
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Cliente proveedor</b>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
      </ng-container>
      <!-- status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Estado de carga</b>
        </th>
        <td mat-cell *matCellDef="let element">
          <span [className]="element.status === 'Fallido' ? 'error' : ''">{{element.status}}</span>
        </td>
      </ng-container>
      <!-- observations Column -->
      <ng-container matColumnDef="observations">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <b>Observaciones</b>
        </th>
        <td mat-cell *matCellDef="let element">
          <span [className]="element.status === 'Fallido' ? 'error' : ''">{{element.observations}}</span>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row justify-content-left justify-content-sm-end  mx-auto">
    <div class="col-0 col-sm-6"></div>
    <div class=" col-12  my-3 col-sm-3 text-center">
      <button class="btn  primaryBtn">Guardar</button>
    </div>
    <div class=" col-12 my-3 col-sm-3 text-center">
      <button class="btn  secondaryBtn" (click)="clean()">Limpiar</button>
    </div>
  </div>

</div>

